/* Write your CSS here! */

#mainHeading{
    color: red;
    text-align: center;
    padding-top: 50px;
    padding-bottom:100px;
}

h2{
    text-align: center;
}

body{
    padding-bottom:250px;
    text-align: center;
    background-color: gray;
}

p{
    font-size: large;
    margin-top: 35px;
    margin-left: 500px;
    margin-bottom: 35px;
    margin-right: 500px;
}

footer{
    font-style: italic;
    font-size: medium;
}

img {
    max-width: 100%;
    height: auto;
  }

  .orange{
      color: orange;
  }